__pycache__/
*.pyc
venv/
.venv/
.env
node_modules/
dist/
build/
.vscode/
notes.md
Notes.md
# Test file
backend/services/testing.py
# Specific PDF
backend/scripts/Exception/Star Comprehensive Insurance Policy.pdf